@model List<NettButikk.Model.Produkt>

<div>Produkter</div>

<div>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                @Html.DisplayFor(modelItem => item.navn)
                <br />
                @Html.DisplayFor(modelItem => item.pris)
                <br />
                @Html.ActionLink("Detaljer", "DetaljProdukt", "Produkter", new { id = item.id }, null) 
            </li>
        }
    </ul>

</div>